li {
	list-style-type: none;
}

label {
	margin-right: 1vw;
}

header, h3 {
	text-align: center;
}

input {
	width: 15vw;
	margin-top: 1vh;
}

select {
	width: 15.7vw;
	height: 3.72vh;
	margin-top: 1vh;
}

table {
	margin-left: 10.5vw;
	border-collapse: separate;
	border-spacing: 1vw;
	width: 75%
}


.ingredientInput {
	align-items: center;
	width: 50%;
	margin-left: 25vw;
	margin-bottom: 5vh;
}

.list {
	margin-left: 25vw;
	width: 50%;
}

.list td {
	width:auto;
}

.bi-pencil-square {
	cursor: pointer;
}

#newInput {
	width: 15vw;
}

#editTable {
	margin-left: 9vw;
}
