li {
	list-style-type: none;
}

label {
	margin-right: 1vw;
	font-weight: 600;
}

header, h3, p {
	text-align: center;
	font-weight: 600;
}

input, select {
	margin-top: 1vh;
	font-size: 1.2rem;
}

select {
	width: 100%;
	padding: 1.5px;
}

table {
	position: relative;
	border-collapse: separate;
	border-spacing: 1vw;
}


.ingredientInput,
.list {
	margin-bottom: 2vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.ingredientInput {
	position: sticky;
}

.bi-pencil-square {
	cursor: pointer;
}
