body {
	margin: 0;
	font-family: 'Open Sans', 'Verdana', 'Arial', 'Helvetica', sans-serif;
	font-size: 1rem;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-image: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)), url('./assets/background.png');
	background-position: center no-repeat;
	background-size: cover;
}


h1,
h2,
h3
{
	text-align: center;
}

h1 {
	font-size: 1.75rem;
}

h2 {
	font-size: 1.5rem
}

h3 {
	font-size: 1.25rem;
}



form,
ul {
	list-style-type: none;
	display: flex;
	flex-direction: column;
	gap: 0.6rem;
	margin: auto;
	padding: 0;
	max-width: 25rem;
}

li {
	display: block;
	min-height: 2rem;
	max-height: fit-content;
}

input,
select,
button {
	padding: 0.5rem;
	border: 1px solid #ddd;
	border-radius: 0.25rem;
}

button {
	background-color: #007bff;
	color: white;
	cursor: pointer;
}

button:hover {
	background-color: #0056b3;
}
