body {
	margin: 0;
	font-family: 'Open Sans', 'Verdana', 'Arial', 'Helvetica', sans-serif;
	font-size: 1.5rem;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-image: linear-gradient(rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85)), url('./assets/background.png');
	background-position: center no-repeat;
	background-size: cover;
}
